
<div class="m-footer">
    <div class="m-f-lang">
        <ul>
            <li><a href="">English (UK)</a></li>
            <li><a href="">বাংলা</a></li>
            <li><a href="">हिन्दी</a></li>
        </ul>
        <ul>
            <li><a href="">اردو</a></li>
            <li><a href="">नेपाली</a></li>
            <li><a href="">ଓଡ଼ିଆ</a></li>
        </ul>
    </div>
    

    <div style="clear: both;"></div>

    <div class="links" style="text-align: center;">
        <a href="#">About</a><a href="#">Help</a><a href="#">More</a>
    </div>

    <div style="font-weight: 600;text-align: center;margin: 10px 0;color: #777;">Facebook Inc</div>
</div>